<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<div>
  <input type="text" placeholder="nome" id="task" [(ngModel)]="task.nome">
  <br>
  <input type="text" placeholder="valor" id="valor" [(ngModel)]="task.valor">
  <br>
  <button id="addList" (click)="add()">Add na lista</button>
  <br>
  {{task.nome}}
  <ul>
    <!--[id]="'list-' +  item.nome"-->
    <li id="list-{{item.nome}}"  [style.color]="item.valor > 5 ? 'green' : 'red'"
     *ngFor="let item of tasks" [innerHtml] ="item.nome + ' - ' + item.valor"> 
    </li>
  </ul>
</div>